*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

html {
    height: 100%; /* makes sure our HTML takes up 100% of the browser window */
    font-size: 100%;
}

body {
    background-image: url("/assets/ricepaper.png");
    font-family: 'Open Sans'; /* sets our font to the "Open Sans" typeface */
    color: saddlebrown;             /* sets the text color to black */
    min-height: 100%;         /* says the height of the body must be, at minimum, 100% of the window */
    padding-bottom: 200px;
}

h1 {
    color: saddlebrown;
}
input {
    background: cornsilk;
    color: saddlebrown;
}
button {
    background: saddlebrown;
    color: cornsilk;
}

.tasks-view-task-list {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.tasks-view-task-list td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}

.task-description {
    width: 40%;
}
.task-date {
    width: 40%;
}
.task-delete {
    width: 10%;
}


.tasks-view-task-list th {
    background: saddlebrown;
    color: cornsilk;
}

td {
    color: saddlebrown;
}

.tasks-view-task-list td,
.tasks-view-task-list th {
    text-align: left;
    padding: 5px 10px;
}
.tasks-view-task-list tr{
    background: cornsilk;
    color: saddlebrown;
}
.tasks-view-completed {
    text-decoration: line-through;   
}

::-webkit-input-placeholder { /* Chrome */
  color: saddlebrown;
    opacity: .7;
}
:-ms-input-placeholder { /* IE 10+ */
  color: saddlebrown;
    opacity: .7;
}
::-moz-placeholder { /* Firefox 19+ */
  color: saddlebrown;
  opacity: .7;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: saddlebrown;
  opacity: .7;
}



